name: NPM Version Bump

on:
  workflow_call:
    inputs:
      version_type:
        description: 'Version bump type (patch, minor, major)'
        required: true
        type: string
        default: 'patch'
      node-version-file:
        description: 'Path to package.json'
        default: 'package.json'
        required: false
        type: string

jobs:
  bump-version:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ${{ inputs.node-version-file }}
          cache: pnpm
          registry-url: https://registry.npmjs.org

      - name: Configure Git
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - name: Get current version
        id: current_version
        run: |
          CURRENT_VERSION=$(node -p "require('./package.json').version")
          echo "current=$CURRENT_VERSION" >> $GITHUB_OUTPUT

      - name: Bump version
        id: bump_version
        run: |
          npm version ${{ inputs.version_type }} --no-git-tag-version
          NEW_VERSION=$(node -p "require('./package.json').version")
          echo "new=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Create branch
        run: |
          BRANCH_NAME="bump-version-${{ steps.bump_version.outputs.new }}"
          git checkout -b $BRANCH_NAME
          echo "branch=$BRANCH_NAME" >> $GITHUB_ENV

      - name: Commit changes
        run: |
          git add package.json
          git commit -m "chore(release): ${{ inputs.version_type }} version bump to ${{ steps.bump_version.outputs.new }}"
          git push origin ${{ env.branch }}

      - name: Create Pull Request
        run: gh pr create --fill
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
